body {
  background: #eee;
  font-family: sans-serif;  
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  margin-top: 10px;
  padding: 10px;
}

button {
  display: block;
  text-align: center;
  margin: 0px auto;
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px;
}